@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sigmar+One&family=Ultra&display=swap');
@import url('components/container.css');
@import url('components/banner.css');
@import url('components/card.css');
@import url('components/button.css');


body {
  background-color: #131F60;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;m
  line-height: 1.6;
}


h1 {
  font-family: "Sigmar One", sans-serif;
  color: #53FF28;
  font-size: 60px;;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  color: #53FF28;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: left;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 26px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 13 / 5;
  object-fit: cover;
  display: block;       
  margin: 0 ;
}
 .banner img {
  width:400px;
  height:400px;
  border-radius: 100%;
  margin: 0 auto;

 }

@media (max-width: 960px) {
  img {
    width: 650px;
    height:250px;
  }
}
@media (max-width: 720px) {
  img {
    width: ;
  }
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  transform: translateY(-3px);
  color: #9BFF82;
}

 
 .links {
  margin-top: 30px;
  font-size: 40px; 
}

.links a {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}


ul {
  text-align: left;
  font-size: 18px;
}
