
.banner {
	
	background-image:linear-gradient(-225deg,rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url(../../images/weft_banner.jpg);
	background-size:cover;
	color:white;
	padding:150px 0px;
	background-position: center;
}


.banner h3 {
	margin-top: 10px;
}

.banner .container {
  background-color: transparent ;
  box-shadow: none;
}
}