.btn {
  background-color:white;  
  color:  #53FF28;               
  border: none;   
  margin-top:40px ;       
  border-radius: 6px;     
  padding: 20px 20px;         
  cursor:pointer;
  display:inline-block;
  font-size: 20px;
  
} 

