
.cards {
  display: flex;
  flex-wrap: wrap;           
  justify-content: space-between;                 
  margin: 30px 0x;         
  max-width: 900px;         
  gap:20px;
}

.card { 
  display:flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis:300px;
  justify-content: space-between;
  background-color: #182772;
  color: white;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  flex-direction: column;    
  align-items: center;       
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card p {
  text-align: center;
  font-size:20px;
}

.card:hover {
    background-color: #25337A;
}
