
.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 30px;
  background-color: #182772;
  border-radius: 6px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  text-align: center;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.container:hover {
   background-color: #25337A;
}

